<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="LocDiseaseMapper">

	<!-- 科室疾病关联 -->
	<select id="listPage" parameterType="page" resultType="com.fh.entity.app.LocDisease">
		select
			t1.LOC_DISEASE_ID as locDiseaseId,
			t2.LOC_NAME as locName,
			t3.DISEASE_NAME as diseaseName
		
		from 
			APP_LOC_DISEASE t1 
			left join APP_LOC t2 on t1.LOC_ID=t2.LOC_ID
			left join APP_DISEASE t3 on t1.DISEASE_ID=t3.DISEASE_ID
		<where>
    		<if test="pd.LOC_ID != null and pd.LOC_ID !='' ">
         		t1.LOC_ID = #{pd.LOC_ID}  
    		</if>
    		<if test="pd.DISEASE_ID != null and pd.DISEASE_ID !=''">
         		and t1.DISEASE_ID = #{pd.DISEASE_ID}
    		</if>   
		</where>
	</select>
</mapper>