<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="DocServiceMapper">
    
	<resultMap id="serviceResultMap" type="com.fh.entity.vo.doc.DocServiceVO">
	  <id property="infoId" column="infoId"/>	
	  <result property="docName" column="docName"/>
	  <result property="hopName" column="hopName"/>
	  <result property="locName" column="locName"/>
	  <result property="docTitle" column="docTitle"/>
	  <result property="docImg" column="docImg"/>
	  <association property="docUser" javaType="com.fh.entity.system.doc.DocUser">
	    <id property="docId" column="docId"/>
	    <result property="docAccount" column="docAccount"/>
	  </association>
	  <collection property="docServices" ofType="com.fh.entity.system.doc.DocService">
	    <id property="serviceId" column="serviceId"/>
	    <result property="serviceTypeName" column="serviceTypeName"/>
	    <result property="servicePrice" column="servicePrice"/>
	  </collection>
	</resultMap>
	<!-- 医生服务项目查询 -->
	<select id="listPage" parameterType="page" resultMap="serviceResultMap">
		select
			t1.DOC_ID as docId ,
			t1.DOC_ACCOUNT as docAccount ,
			t1.STATUS as status ,
			t2.INFO_ID as infoId ,
			t2.DOC_NAME as docName ,
			t2.DOC_PIC as docImg ,
			t3.HOP_NAME as hopName ,
			t4.LOC_NAME as locName ,
			t5.NAME	as docTitle,
			t.service_Id	as serviceId,
			t.SERVICE_PRICE as servicePrice,
			t6.NAME	as serviceTypeName
		
		from DOC_SERVICE t
			 left join DOC_INFO t2 on t.DOCINFO_ID=t2.INFO_ID
			 left join DOC_USER t1 on t1.DOC_ID=t2.DOC_ID
			 left join APP_HOP t3 on t2.DOC_HOPID=t3.HOP_ID
			 left join APP_LOC t4 on t2.DOC_LOCID=t4.LOC_ID
			 left join sys_dictionaries t5 on t2.DOC_TITLE=t5.DICTIONARIES_ID
			 left join sys_dictionaries t6 on t.SERVICE_TYPE=t6.DICTIONARIES_ID
		<where>
			<if test="pd.keywords != null and pd.keywords !='' ">
         		and (
         			t2.DOC_NAME like CONCAT('%',#{pd.keywords},'%') 
         			or t1.DOC_ACCOUNT like CONCAT('%',#{pd.keywords},'%')
         			)	 
    		</if>
    		<if test="pd.DOC_HOPID != null and pd.DOC_HOPID != ''"><!-- 医院检索 -->
				and t2.DOC_HOPID=#{pd.DOC_HOPID} 
			</if>
			<if test="pd.DOC_LOCID != null and pd.DOC_LOCID != ''"><!-- 科室检索 -->
				and t2.DOC_LOCID=#{pd.DOC_LOCID} 
			</if>
			<if test="pd.DOC_TITLE != null and pd.DOC_TITLE != ''"><!-- 职称检索 -->
				and t2.DOC_TITLE=#{pd.DOC_TITLE} 
			</if>
		</where>
	</select>
</mapper>